body {
  background-color: rgb(227, 250, 233);
}

header {
  height: 5em;
  width: 100%;
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
}

header a {
  float: left;
  border: 1px;
}

header h1 {
  margin-left: 100px;
  margin-right: auto;
  padding-top: 0.2em;
  color: rgb(28, 95, 7);
  font-size: 3rem;
}

#navigation {
  background-color: rgb(61, 144, 58);
  max-width: 960px;
  padding: 0.4em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#navigation a {
  margin: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  max-width: 960px;
}

#navigation a:hover {
  color: rgb(28, 95, 7);
}

.title {
  font-size: 2.5rem;
  margin-top: 0.8em;
  padding-left: 10%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 960px;
}

#list {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 960px;
}

#list li {
  font-size: 1.2rem;
  margin: 0.2em;
}

#list :any-link {
  color: rgb(22, 78, 5);
  text-decoration: none;
}

#list a:hover {
  color: rgb(76, 179, 72);
  text-decoration: none;
}

table {
  width: 30em;
  height: 10em;
  margin-left: 10%;
  margin-right: 10%;
  border-collapse: collapse;
  border: 0.05em solid grey;
  text-align: center;
  max-width: 960px;
  font-size: 1.2rem;
}

th {
  /* заголовок каждого столбца */
  border: 0.05em solid grey;
}

td {
  /* ячейки тела таблицы */
  border: 0.05em dashed grey;
  height: 3em;
}

tr.a {
  /*нечётные строки*/
  background: rgba(86, 187, 82, 0.322);
}

tr.b {
  /*чётные строки*/
  background: rgba(86, 187, 82, 0.63);
}

caption {
  caption-side: bottom;
  padding-top: 0.3em;
}

.img {
  margin: 1em;
  margin-bottom: 0;
}

form {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 960px;
  font-size: 1.2rem;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  font-size: 1.2rem;
}


